.vscode/**
.github/**
node_modules/**
src/**
.gitignore
tsconfig.json
esbuild.js
generate-icon.js
*.map
*.ts
dist/**/*.d.ts
dist/**/*.d.ts.map
dist/core/**
dist/participant/**
dist/prompts/**
dist/server/**
dist/tools/**
!dist/extension.js
